:root {
	font-family: Aleo;
	--primary: 255, 77, 7;
	/* --primary-2: rgb(255, 109, 65); */
	--primary-2: 255, 132, 94;
	--white: 242, 242, 242;
	--white-2: 245, 245, 245;
	--black: 73, 73, 73;
	color: rgb(var(--black));
	background-color: rgb(var(--white));
}

a{
	transition: color 100ms;
	/* border-radius: 1px; */
	outline-offset: 2px;
	padding: 0 .5rem;
	&:hover, &:focus{
		color: rgb(var(--primary));
	}
	
	&:focus{
		/* outline: 5px solid rgb(var(--primary)); */
		outline-color: rgb(var(--primary));
	}
}

.button-primary{
	background-color: rgb(var(--primary));
	color: white;
	padding: .25rem .75rem;
	border-radius: 4px;
	box-shadow: 0px 5px 10px rgba(255, 77, 7, 0.308);
	transition-duration: 150ms;
	transition-property: color, background-color;
}
.button-primary:hover:not([disabled]){
	background-color: rgb(var(--white-2));
	color: rgb(var(--primary));
	box-shadow: 0px 5px 10px rgba(161, 161, 161, 0.2);
	outline: 1px solid rgb(var(--primary));
	outline-offset: -1px;
}
.button-primary:active:not([disabled]){
	background-color: rgb(var(--primary-2));
	color:white;
	box-shadow: none;
}
.button-primary:focus{
	outline: 2px solid rgb(var(--primary));
	outline-offset: 2px;
}
.button-primary:disabled{
	background-color: rgb(184, 184, 184);
	box-shadow: none;
}