:root {
	font-family: Aleo;
	--primary: 255, 77, 7;
	/* --primary-2: rgb(255, 109, 65); */
	--primary-2: 255, 107, 48;
	--primary-3: 255, 132, 94;
	--bg: 242, 242, 242;
	--bg-2: 245, 245, 245;
	--bg-3: 236, 236, 236;
	--bg-4: 225, 225, 225;
	--font: 73, 73, 73;
}

body {
	color: rgb(var(--font));
	background-color: rgb(var(--bg));
}

.dark {
	--bg: 44, 44, 44;
	--bg-2: 55, 55, 55;
	--bg-3: 66, 66, 66;
	--bg-4: 40, 40, 40;
	--font: 242, 242, 242;
}

a,
.a {
	transition: color 100ms;
	/* border-radius: 1px; */
	outline-offset: 2px;
	&:hover,
	&:focus {
		color: rgb(var(--primary));
		outline-color: rgba(var(--primary), 0.5);
		/* outline: 5px solid rgb(var(--primary)); */
	}
}

.a-primary {
	color: rgb(var(--primary));
	&:hover,
	&:focus {
		color: rgb(var(--primary-2));
		outline-color: rgba(var(--primary-2), 0.5);
	}
}

.button-primary {
	background-color: rgb(var(--primary));
	color: rgb(242, 242, 242);
	padding: 0.25rem 0.75rem;
	border-radius: 4px;
	// box-shadow: 0px 5px 10px rgba(255, 77, 7, 0.308);
	box-shadow:
		0px 5px 10px rgba(255, 77, 7, 0.308),
		0px 2px 5px rgba(187, 54, 1, 0.2);
	transition-duration: 150ms;
	transition-property: background-color;
	&:hover:not([disabled]) {
		background-color: rgb(var(--primary-2));
		color: rgb(242, 242, 242);
	}
	&:active:not([disabled]) {
		background-color: rgb(var(--primary-3));
		color: rgb(242, 242, 242);
		box-shadow: none;
	}
	&:focus {
		outline: 2px solid rgba(var(--primary), 0.5);
		color: rgb(var(--bg));
		outline-offset: 2px;
	}
	&:disabled {
		background-color: rgb(184, 184, 184);
		box-shadow: none;
	}
}

.button-ghost {
	background-color: rgb(var(--bg));
	color: rgb(var(--primary));
	padding: 0.25rem 0.75rem;
	border-radius: 4px;
	box-shadow: 0px 5px 10px rgba(148, 44, 3, 0.08);
	outline: 1px solid rgb(var(--primary));
	outline-offset: -1px;
	transition-duration: 150ms;
	transition-property: background-color;
	&:hover:not([disabled]) {
		background-color: rgba(var(--primary), 0.2);
	}
	&:active:not([disabled]) {
		background-color: rgba(var(--primary), 0.4);
		box-shadow: none;
	}
	&:focus {
		outline: 2px solid rgb(var(--primary));
		outline-offset: 2px;
	}
	&:disabled {
		background-color: rgb(184, 184, 184);
		box-shadow: none;
	}
}

.fly-up-fade {
	animation:
		fly-up 250ms ease-out,
		fade 150ms ease-out;
	animation-fill-mode: both;
}

.fly-up {
	animation: fly-up 250ms ease-out;
	animation-fill-mode: both;
}

.fade {
	animation: fade 150ms ease-out;
	animation-fill-mode: both;
}

@keyframes fly-up {
	from {
		transform: translateY(0.5rem);
	}
	to {
		transform: translateY(0);
	}
}

@keyframes fade {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}
